body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}
a.active_page{
    color: red;
    font-weight: bold;
}
#introduction{
    color:rgb(17, 0, 255);
    font-family: 'Times New Roman', Times, serif;
}
::backdrop{
    color: brown;
}
a:hover {
    text-decoration: underline;
  }
  a:active {
    color: darkcyan;
  }
  a:link {
    color: green;
  }
  
  a:visited {
    color: cadetblue;
  }
  .box-dimensions {
    width: 100px;
    height: 50px;
    padding-top: 30px;
    margin: 5px;
  }